---
layout: main.njk
pageTitle: Website Design - App Development - Costa del Sol
description: Website Design and Development Services, in the Costa del Sol area - professional web design, hosting, development and web application services
---

<div class="w-full max-h-full overflow-hidden relative headings">

    <div class="w-full absolute top-0 left-0 opacity-75">
      <h1 class="text-center lg:text-2xl bg-gray-800 text-white">Website Design And Application Development</h1>
    </div>
    <div class="flex">
      <div class="w-full md:w-1/2 mt-8 h-64  text-white xl:h-64 lg:h-48 md:h-32 flex flex-col justify-between px-2" >
        <h2 class="lg:text-2xl mt-5">High Performance Fast Loading Websites</h2>
        <p>Fast Loading mobile first site avoids visitor abandonment</p>
        <div class="w-full md:w-1/2 mx-auto pr-4">
              <a class="bg-blue-900 p-4 text-center md:text-2xl block border rounded-lg border-transparent hover:bg-blue-700" href="/contact"> Find Out More </a>
        </div>
      </div>
      <div class="w-0 md:w-1/2 text-white" >
          <picture>
          <source
          media="(max-width: 768px)"
          srcset=""
          />         
          <img class="" src="https://res.cloudinary.com/bekasa/image/upload/v1578317379/mobile_part_300_op_onov8r.jpg" alt="web design">
      </picture>
      </div>
      </div>
</div>
<section class="py-4 section-1">
  <div class="lg:w-2/3 mx-auto p-4">
    <div class="top_grid text-white">
      <div class="border-transparent rounded-lg p-3 bg-gradient-to-br from-purple-300 via-purple-600 to-purple-300">
        <div class="text-center">
        <svg class="icon icon-cogs rounded-full w-32 h-32 inline-block bg-gray-400" viewBox="-10 -7 50 50"><use fill="#08608E" xlink:href="symbol-defs.svg#icon-cogs"></use></svg>
        </div>
        <div>
        Server or browser based applications built with modern technology. 
        </div>
      </div>
      <div class="border-transparent rounded-lg p-3 bg-gradient-to-br from-pink-300 via-pink-600 to-pink-300">
        <div class="text-center">
        <svg class="icon icon-sphere inline-block rounded-full w-32 h-32 bg-gray-400"  viewBox="-10 -8 50 50"><use fill="#08608E" xlink:href="symbol-defs.svg#icon-sphere"></use></svg>
        </div>
        <div>
        Hosting from World class to hobby class, personal to business. Cost related that suite purpose and budget. 
        </div>
      </div>
      <div class="border-transparent rounded-lg p-3 bg-gradient-to-br from-yellow-300 via-yellow-600 to-yellow-300">
        <div class="text-center">
        <svg class="icon icon-earth inline-block rounded-full w-32 h-32 bg-gray-400"  viewBox="-9 -9 50 50" ><use fill="#08608E" xlink:href="symbol-defs.svg#icon-earth"></use></svg>
        </div>
        <div>
        Multilingual sites that allow the user to switch languages at any time. 
        </div>
      </div>      
    </div>
  </div>
</section>

<section class="py-4">
  <div class="lg:w-2/3 mx-auto p-4">
  <div class="mobile_grid">
    <div class="lt">Mobile aware layouts are responsive to screen size, which improves user experience, leads to increase visibility, indulge in the mobile market place, provides better search rankings</div>
    <div class="lb">Mobile pages have to be slender to load quickly on 3G networks</div>
      <div class="cent rounded-lg border-8 border-gray-900 relative bg-phone">        
          <div class="h-8 bg-gray-900"></div>
          <div class="px-8 pt-8 pb-10">
          <p>Nearly 60% of web access is via mobile devices and the vast majority of networks are slow and device screens much smaller than laptop.
          Responsive design means readable text without requiring zoom or scrolling.</p>
          </div>
          <div class="w-full h-8 bg-gray-900 absolute bottom-0 left-0 flex items-center justify-center"><div class="bg-gray-400 rounded-full py-2 px-4 w-1/4"></div></div>
        </div>
        
    <div class="rt">Fast page load on mobile devices is critical. Modern users will simply not wait  patiently for pages to load. Outside limit is considered to be 3 secs. After 3 secs over 50% of visitors abandon a page</div>
    <div class="rb"><p>Increases the reach of websites to mobile phone and tablet</p></div>
  </div>
  </div>
</section>
  
<section class="py-4">
  <div class="lg:w-2/3 mx-auto p-4 flex flex-wrap">
    <div class="lg:w-1/3">
     <p class="p-4 my-2">Delivering engaging digital content by blog, email marketing or social media is a primary activity. Equally the capacity to create and edit easily without resource hungry, complex and slow bloated frameworks. </p>
     <p class="p-4 my-2">
        Search Engine Optimization, the process of aligning page
        content with search engine index results.
      </p>
      <p class="p-4 my-2">
        Layouts have adapt to the majority of web aware devices laptops, mobile phones, tablets
        without significant loss of content. 
      </p>     
    </div>
    <div class="lg:w-2/3 img_grid">
      <div>
      <img loading="lazy" src="https://res.cloudinary.com/bekasa/image/upload/v1578576111/content-opt_hvnvht.jpg" alt="CMS"/>
      </div>
      <div>
      <img loading="lazy" src="https://res.cloudinary.com/bekasa/image/upload/v1578576140/seo-opt_dsn0d5.jpg" alt="SEO">
      </div>
      <div>
      <img loading="lazy" src="https://res.cloudinary.com/bekasa/image/upload/v1578317379/roi_vsmall_op_k4pwoo.jpg" alt="property"/>
      </div>
      <div>
      <img loading="lazy" src="https://res.cloudinary.com/bekasa/image/upload/v1578317379/donalola_small_op_dwvrlr.jpg" alt="property"/>
      </div>
      <div>
      <img loading="lazy" src="https://res.cloudinary.com/bekasa/image/upload/v1578576084/devices_xv7ka2.jpg" alt="mobile devices"/>
      </div>    
      
      <div>
      <img loading="lazy" src="https://res.cloudinary.com/bekasa/image/upload/v1578317379/property_gallery_op_zckl4b.jpg" alt="property"/>
      </div> 
      
    </div>
  </div>
</section>


<section class="bg-blue-900 text-white">
  <div class="lg:w-5/6 mx-auto py-12"> 
    <h3>Additional Features and Benefits</h3>
    <div class="blog_grid">
           
        <div class="border-transparent rounded-lg p-3">
            <div class="text-center">
            <svg class="icon icon-mobile rounded-full w-32 h-32 inline-block bg-gray-300" viewBox="-10 -7 50 50"><use fill="#c05621" xlink:href="symbol-defs.svg#icon-mobile"></use></svg>
            </div>
            <div class="text-center">
            Mobile Friendly
            </div>
          </div>

        <div class="border-transparent rounded-lg p-3">
            <div class="text-center">
              <svg class="icon icon-cogs rounded-full w-32 h-32 inline-block bg-gray-300" viewBox="-10 -7 50 50"><use fill="#2c5282" xlink:href="symbol-defs.svg#icon-search"></use></svg>
            </div>
            <div class="text-center">
            Search Engine Friendly.
            </div>
        </div>

        <div class="border-transparent rounded-lg p-3">
            <div class="text-center">
              <svg class="icon icon-cogs rounded-full w-32 h-32 inline-block bg-gray-300" viewBox="-10 -7 50 50"><use fill="#97266d" xlink:href="symbol-defs.svg#icon-text-height"></use></svg>
            </div>
            <div class="text-center">
            Clear, Readable Text.
            </div>
        </div>

        <div class="border-transparent rounded-lg p-3">
            <div class="text-center">
              <svg class="icon icon-cogs rounded-full w-32 h-32 inline-block bg-gray-300" viewBox="-10 -7 50 50"><use fill="#c53030" xlink:href="symbol-defs.svg#icon-book"></use></svg>
            </div>
            <div class="text-center">
            Web Standards
            </div>
        </div>
        
             
    </div>                          
  </div>
</section>
<div class="py-6">
    <div class="lg:w-5/6 mx-auto p-2 text-gray-700">
    {%- include 'blog_extract.njk' -%}
    </div>
</div>
{#
<div class="bg-gray-400">
  <div class="lg:w-5/6 mx-auto p-2 text-gray-700">
    {%- include 'newsfeed-pages.njk' -%}
    </div>
</div>
#}
{#
<div class="bg-gray-400">
  <div class="lg:w-5/6 mx-auto p-2 text-gray-700">
  Weather Malaga
  <div>Cords lon:{{ weather.coord.lon }} lat:{{ weather.coord.lat }}</div>
  <div>Main {{ weather.weather[0].main}}</div>
  <div>Description {{ weather.weather[0].description}}</div>
  <div>temp {{ weather.main.temp }}&deg;C</div>
    
</div>
#}    
