<div class="blog_item rounded overflow-hidden shadow-lg bg-gray-200 text-gray-700">       
          <div>
            <a href="{{ blog.url }}">
              <img loading="lazy" src="{{ blog.data.blog_image }}" alt="{{ blog.data.article_title }}" />
            </a>
          </div>

          <div class="text-sm px-6">
            <time datetime="{{ blog.data.date }}">{{ blog.data.date | dateReadable }}</time>
          </div> 

          <div class="font-bold text-xl mb-2 px-6">
            <a href="{{ blog.url }}">{{ blog.data.article_title }}</a>
          </div> 

          <div class="py-4">
            <p class="text-grey-darker text-base px-6">{{ blog.data.description }}
            </p>
          </div>
        </div>