---
pageTitle: Website Design and Application Services | Costa Del Sol
---
<!DOCTYPE html>
<html lang="en">
{% include "_includes/partials/head.html" %}
    <body class="bg-gray-200 text-lg sans" >
            <div class="mx-auto"><!--</div> in footer-->
{% include "_includes/partials/header.html" %}   
 <main>       
        {{ content | safe }}
</main>        
 {% include "_includes/partials/footer.njk" %}        

        
        </div>
    </body>
</html>
