---
layout: main.njk
pageTitle: "Website Services"
page_title: "Development"
description: "Website Services."
panel_title: "Website Services"
panel_summary: "Website Services"
breadcrum: "Website Development"
pa_jpg: "https://res.cloudinary.com/bekasa/image/upload/v1547653145/business_r6yboi.jpg"
pa_s_jpg: "https://res.cloudinary.com/bekasa/image/upload/v1547653144/business_s_ig1vmk.jpg"
panel_image: "https://res.cloudinary.com/bekasa/image/upload/v1547237941/business_tiy0xc.webp"
panel_image_s: "https://res.cloudinary.com/bekasa/image/upload/v1547237924/business_s_obcaiz.webp"
---
{% include "partials/headings.njk" %}
<!-- up to here-->
  <div class="lg:w-2/3 mx-auto p-2">
    <article>      
      <div class="m-4 p-4 border border-gray-500 rounded-lg">
        <picture class="flex justify-center">
          <source
          srcset="https://res.cloudinary.com/bekasa/image/upload/v1547288027/applications_services_tgneuq.webp"
          type="image/webp"
          >             
          <img class="rounded-lg" alt="applications" 
          src="https://res.cloudinary.com/bekasa/image/upload/v1547658705/applications_services_k6geif.jpg">
        </picture>
        <h3><a href="/services/applications/">Applications</a></h3>
        <p>Websites can evolve from simple information portals to custom functionality incorporating the latest technology, increasingly business operations are being translated to the web.</p>
      </div>
      <div class="m-4 p-4 border border-gray-500 rounded-lg">
        <picture class="flex justify-center">
          <source
          srcset="https://res.cloudinary.com/bekasa/image/upload/v1547287981/design_services_wsd6kg.webp"
          type="image/webp"
          >
          <img class="rounded-lg" alt="design"
            src="https://res.cloudinary.com/bekasa/image/upload/v1547658829/light_bulb_services_wdslwe.jpg">
        </picture>
        
        <h3><a href="/services/design/">Design</a></h3>
        <p>Designing websites around content and function rather than attempting to squeeze content into a predeterimined format. 'Content is King' idiom certainly promoted by Google apparently has a much older origin and is certainly true.</p>
      </div>
      <div class="m-4 p-4 border border-gray-500 rounded-lg">
        <picture class="flex justify-center">
          <source
          srcset="https://res.cloudinary.com/bekasa/image/upload/v1547287913/develop_services_z4vndd.webp"
          type="image/webp"
          >
        <img class="rounded-lg" alt="development" src="https://res.cloudinary.com/bekasa/image/upload/v1547658043/develop_services_bdn3rb.jpg" />
      </picture class="flex justify-center">
        <h3><a href="/services/development/">Development</a></h3>
        <p>Developing or upgrading a website is employing what is already in existence and adding additional functionality where possible. Easy forward development is promoted by choosing the existing software in the first instance - that is why good initial choice is crucial.</p>
      </div>
      <div class="m-4 p-4 border border-gray-500 rounded-lg">
        <picture class="flex justify-center">
          <source
          srcset="https://res.cloudinary.com/bekasa/image/upload/v1547287863/construct_services_wzulx2.webp"
          type="image/webp"
          >
          <img class="rounded-lg" alt="rebuild" src="https://res.cloudinary.com/bekasa/image/upload/v1547658929/construct_services_een2ys.jpg"/>
          </picture>
        <h3><a href="/services/rebuild/">Rebuild</a></h3>
        <p>Until relatively recent times rebuilding an application would almost certainly have meant tearing down starting from the ground up, depending on how closely the public view was coupled to existing data. Significant advances in decoupling the view from the existing data mean that the front or public view can exist separately from the administration area.</p>
        <p>This allows editorial staff to continue to use existing methods and routines and the public appearance of a site can be distinct and renewed in accordance with current popular trends</p>
      </div>
    </article>  
  </div>