---
layout: services.njk
pageTitle: "Javascript Template Test"
page_title: "Javascript Template Test"
description: "Website Design and Web Development Services, on the Costa del Sol, providing web design and application development services"
panel_title: "Website Design"
panel_summary: "Website Design"
breadcrumb: "Website Design"
pa_jpg: "https://res.cloudinary.com/bekasa/image/upload/v1547654345/light_bulb_peednn.jpg"
pa_s_jpg: "https://res.cloudinary.com/bekasa/image/upload/v1547654345/light_bulb_s_t4zlim.jpg"
panel_image: "https://res.cloudinary.com/bekasa/image/upload/v1547239947/light_bulb_bey88u.webp"
panel_image_s: "https://res.cloudinary.com/bekasa/image/upload/v1547239936/light_bulb_s_qyhfkz.webp"
includeFile: true
eleventyExcludeFromCollections: true
status: draft
date: "2020-02-05T11:00:00"
---


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>

<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>

    <form>
        <label for="name">Find characters by name</label>
        <input type="text" id="name" name="name" required />
        <button type="submit">Search</button>
      </form>
<div id="container"></div>


