<footer class="bg-gray-900 text-white relative footer">

  <div class="sm:flex sm:flex-wrap">
    <div class="lg:w-1/3 p-4">
      <ul>
        <li><h3>Services</h3></li>
        <li class="p-4">
          <svg
            class="icon iconcloud inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use fill="#0093D0" xlink:href="/symbol-defs.svg#icon-cloud"></use>
          </svg>
          Cloud Hosting
        </li>
        <li class="p-4">
          <svg
            class="icon icon-cogs inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use fill="#0093D0" xlink:href="/symbol-defs.svg#icon-cogs"></use>
          </svg>
          Programming PHP, Ruby, Javascript
        </li>
        <li class="p-4">
          <svg
            class="icon icon-wrench inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use fill="#0093D0" xlink:href="/symbol-defs.svg#icon-wrench"></use>
          </svg>
          Site Maintenance
        </li>
        <li class="p-4">
          <svg
            class="icon icon-search inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use fill="#0093D0" xlink:href="/symbol-defs.svg#icon-search"></use>
          </svg>
          Search Implementation: ElasticSearch
        </li>
        <li class="p-4">
          <svg
            class="icon icon-earth inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use fill="#0093D0" xlink:href="/symbol-defs.svg#icon-earth"></use>
          </svg>
          Multiple Language Sites
        </li>
        <li class="p-4">
          <svg
            class="icon icon-lock inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use fill="#76D400" xlink:href="/symbol-defs.svg#icon-lock"></use>
          </svg>
          Installation TLS/SSL security certs
        </li>
      </ul>
    </div>
    <div class="lg:w-1/3 p-4">
      <ul>
        <li><h3>Frameworks</h3></li>
        <li class="p-4">
          <svg
            class="icon icon-processwire inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use
              fill="#00d8ff"
              xlink:href="/symbol-defs.svg#icon-processwire"
            ></use>
          </svg>
          Processwire CMS
        </li>
        <li class="p-4">
          <svg
            class="icon icon-laravel inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use
              fill="#00d8ff"
              xlink:href="/symbol-defs.svg#icon-laravel"
            ></use>
          </svg>
          Laravel PHP Framework
        </li>
        <li class="p-4">
          <svg
            class="icon icon-react inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use fill="#00d8ff" xlink:href="/symbol-defs.svg#icon-react"></use>
          </svg>
          React js apps
        </li>
        <li class="p-4">
          <svg
            class="icon icon-vuejs inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use xlink:href="/symbol-defs.svg#icon-vuejs"></use>
          </svg>
          Vue js apps
        </li>
      </ul>
    </div>
    <div class="lg:w-1/3 p-4">
      <ul>
        <li><h3>Contact</h3></li>
        <li><i data-vi="user"></i> Contact: Robert</li>
        <li class="p-4">
          <svg
            class="icon icon-mail2 inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use fill="#0093D0" xlink:href="/symbol-defs.svg#icon-mail2"></use>
          </svg>
          Email:
          <a href="/contact/" class="text-white">Email</a>
        </li>
        <li class="p-4">
          <svg
            class="icon icon-phone inline"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use fill="#0093D0" xlink:href="/symbol-defs.svg#icon-phone"></use>
          </svg>
          Mobile: +34 637 517 551
        </li>
      </ul>
    </div>
  </div>

  <div class="p-4 text-center">
    <p><span class="foot_bg">
    <a href="/services">Services</a>&nbsp;|&nbsp;
    <a href="/hosting">Hosting</a>&nbsp;|&nbsp;
    <a href="/faqs">FAQ'S</a>&nbsp;|&nbsp;
    <a href="/contact">Contact</a>&nbsp;|&nbsp;
    <a href="/blog">Blog</a>&nbsp;|&nbsp;
    <a href="/privacy-policy"> Privacy Policy</a>
    </span>
    </p>
    <p class="p-4 text-gray-200">
      <span class="foot_bg"><a href="https://meteorwebsitedesign.com/">meteorwebsitedesign.com</a>
      &copy; 2012 - {% year %} All Rights Reserved</span>
    </p>
  </div>
</footer>
