
<header class="flex items-center justify-between flex-wrap bg-gray-200 px-4 py-4 sticky top-0 z-50">

  <div class="flex items-center  text-blue-800 mr-6">
    <a href="/" class="logo">
      <svg
        class="icon icon-mlogo"
        aria-labelledby="logo"
        role="img"
        width="35"
        height="38"
      >
        <title id="logo">logo</title>
        <use xlink:href="/symbol-defs.svg#icon-mlogo"></use>
      </svg>
    </a>
    <span>&nbsp;Meteor Website Design</span>
  </div>

  <label for="menu-toggle" class="cursor-pointer md:hidden block"><svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
  </label>
   <input class="hidden" type="checkbox" id="menu-toggle" />

   <div id="menu" class="hidden md:flex items-center md:w-auto w-full"> 
      <nav> 
        <ul class="md:flex justify-between md:items-center md:w-auto text-blue-700">
            <li class="relative group">
                <a id="dropsub-menu" class="block mt-4 md:inline-flex md:mt-0  hover:text-blue-500 mr-4 relative" href="/services/">Services</a>
                <ul id="sub-menu" class="border border-2 rounded-lg p-2 bg-gray-200 ml-4 md:ml-0 md:absolute top-6 left-0 z-10  block  md:invisible md:group-hover:visible">
                    <li class="block p-2 mb:my-2  hover:text-blue-500 hover:bg-gray-300"><a class="inline-block" href="/services/applications">Applications</a></li>
                    <li class="block p-2 mb:my-2  hover:text-blue-500 hover:bg-gray-300"><a href="/services/design/">Design</a></li>
                    <li class="block p-2 mb:my-2  hover:text-blue-500 hover:bg-gray-300"><a href="/services/development/">Development</a></li>
                    <li class="block p-2 mb:my-2  hover:text-blue-500 hover:bg-gray-300"><a href="/services/rebuild/">Rebuild</a></li>
                </ul>      
            </li>
            <li>
                <a class="block mt-4 md:inline-block md:mt-0 hover:text-blue-500 mr-4" href="/hosting/"><span>Hosting</span></a>
            </li>
            <li>
                <a class="block mt-4 md:inline-block md:mt-0 hover:text-blue-500 mr-4" href="/faqs/"><span>FAQ&#39;s</span></a>
            </li>
            <li>
                <a class="block mt-4 md:inline-block md:mt-0  hover:text-blue-500 mr-4" href="/contact/"><span>Contact</span></a>
            </li>
            <li>
                <a class="block mt-4 md:inline-block md:mt-0  hover:text-blue-500 mr-4" href="/blog/"><span>Blog</span></a>
            </li>
        </ul>
      </nav>
    </div>
</header>
